{
  "name": __PACKAGE_NAME_JSON__,
  "version": __PACKAGE_VERSION_JSON__,
  "description": __DESCRIPTION_JSON__,
  "author": {
    "name": __OWNER_NAME_JSON__,
    "url": __OWNER_URL_JSON__
  },
  "repository": __REPOSITORY_URL_JSON__,
  "license": "MIT",
  "skills": "./skills/"
}
